<app-header></app-header>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #sidenav class="example-sidenav" mode="side">
        <div class="menu">
            <button mat-mini-fab color="primary" [routerLink]="'/'">
                <mat-icon>home</mat-icon>
            </button>
            <span>Home</span>
            <button mat-mini-fab color="primary">
                <mat-icon>favorite</mat-icon>
            </button>
            <span>Favorite</span>
            <button mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
            </button>
            <span>Add</span>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>

